body{
  background-color: #C0C4C4;
}

h1{
    font-family: arial;
    color: blue;
    text-decoration: underline;
    text-align: center;
}

h6{
  font-family: arial;
  color: blue;
  font-size: 20px;
  text-align: center;
}

p{
  font-family: arial;
  color: blue;
  font-size: 15px;
  text-align: center;
  margin-bottom: 0;
}

th{
  font-family: arial;
  color: blue;
  text-decoration: underline;
  text-align: center;
}

td{
  font-family: arial;
  color: black;
  text-align: center;
}

.form-row{
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
}

#searchIntro{
  text-align: left;
  padding-left: 10px;
  padding-bottom: 5px;
}

#submit-button{
  margin-left: 10px;
}

#dropdownMenuLink{
  margin-bottom: 5px;
  margin-left: 10px;
}

.my-custom-scrollbar {
  position: relative;
  height: 320px;
  overflow: auto;
  }

  .table-wrapper-scroll-y {
  display: block;
  }

  #searchInput{
    margin-left: 10px;
  }

  #searchButton{
    margin-right: 10px;
  }
  